html{
    scroll-behavior: smooth;
}
body{
    background-color: #FFC107;
}
h1, p{
    color: aliceblue;
}
a{
    cursor: pointer;
    text-decoration: none;
}
section .container .row p a:hover{
    color: #000;
}
.caixa{
    padding:60px 0;
    border-bottom:1px solid #e5e5e5;
}
.caixa .container .row p{
    color: #000;
}
.caixa .container .row a{
    color: aliceblue;
}
.caixa .container .row a:hover{
    color: aliceblue;
    opacity: 0.7;
}
header .navbar .container .collapse .navbar-nav .nav-item a{
    color:aliceblue;
}
header .navbar .container .collapse .navbar-nav .nav-item a:hover{
    color:#1f1f1f;
}
header .navbar .container .collapse .navbar-nav .nav-item a.btn:hover{
    color:#000000;
}
#link-footer{
    color: rgb(0, 68, 255);
    text-decoration: none;
}
#link-footer:hover{
    color: rgb(9, 42, 130);
    text-decoration: underline;
}
.navbar-toggler:focus,
.navbar-toggler:active {
    outline: 0;
}
@media (max-width:576px){
    header .navbar .container .navbar-brand img{
        width: 8.5em;
    }
}
section span#texto-login-img{
    font-weight: bold;
    color: aliceblue;
    font-size: 1.5em;
}
div#card-login{
    padding: 30px;
    text-align: center;
    margin-bottom: 10px; 
    box-shadow: 1px 1px 2px #000;
    display: inline-block;
}
div#card-login h4{
    font-size: 1.5em;
    margin-bottom: 10px;
}
div#card-login input{
    font-size:1.5em;
    width: 100%;
    outline: none;
}
div#card-login button{
   margin-top: 8px;
    font-size: 1.5em;
    width: 100%;
}
#botoes-login{
    margin-top: 20px;
}
